body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    list-style: none;
    display: inline-block;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.pt_15 {
    padding-top: 15px;
}

.pb_15 {
    padding-bottom: 15px;
}

.overflow_hidden {
    overflow: hidden;
}

header {
    height: auto;
    background-color: #202124;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.center {
    width: 96%;
    margin: 0 auto;
}

.logo a img {
    width: 150px;
}

.nav_soc_wrapper {
    padding-top: 15px;
}

.langs li {
    display: inline-block;
}

.langs {
    margin: 10px auto 0 auto;
}

.nav-link {
    color: #fff;
    padding: 0 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 5px;
    display: inline-block;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav li:first-child a {
    padding-left: 0;
}

nav li a:hover {
    opacity: 1;
    color: #ff852e;
}

.social a {
    color: #fff;
    font-size: 18px;
    padding: 10px 5px;
    display: inline-block;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.social a:first-child {
    padding-left: 15px;
}

.social a:last-child {
    padding-right: 0;
}

.social a:hover {
    opacity: 1;
}

.container {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.home_page_title {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 0 auto;
    font-size: 72px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1.1px;
    width: 58%;
    text-shadow: 3px 2px 11px #000000bf;
    border-radius: 5px;
    background: #00000099;
}

.register_btn {
    border-radius: 45px;
    font-size: 28px;
    text-transform: uppercase;
    background: #ffffff78;
    color: #1b1919d9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 15px 25px;
    margin: 100px auto 100px auto;
    display: block;
    border: none;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.register_btn:hover {
    background: #fff;
}

footer {
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 20px;
}

footer ul li:first-child {
    padding-left: 0;
}

footer ul li:last-child {
    padding-right: 0;
}

.soc_footer a {
    color: #333;
    padding: 5px;
    font-size: 25px;
}

footer p {
    line-height: 25px;
}

footer p:first-child {
    display: inline-block;
    margin-top: 50px;
}

.about_us {
    text-align: center;
    font-size: 64px;
    display: block;
    color: #fff;
    padding-top: 80px;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: #333;
    padding: 15px;
    background: rgb(255, 255, 255);
    line-height: 25px;
    opacity: .8;
    margin-top: 30px;
    margin-bottom: 100px;
}

.content p {
    margin-top: 10px;
}

/*Tiko*/

li.active > a {
    opacity: 1;
    color: #ff852e;
}

.row {
    display: inline-block;
    width: 30%;
}

.row .container_cube {
    min-height: 100px;
    vertical-align: middle;
}

.row .container_cube a {
    padding-top: 15%;
    display: block;
    color: #333;
}

.left_tst {
    width: 40%;
    float: left;
    background: #4e9ee6;
    text-align: center;
    height: 100%;
}

.right_tst {
    width: 60%;
    float: right;
    background: #387dc1;
    text-align: center;
    height: 100%;
}

.left_tst h2 {
    font-size: 60px;
    color: #fff;
    margin: 75px auto 0 auto;
    display: inline-block;
}

.right_tst p {
    text-align: justify;
    font-size: 20px;
    color: #fff;
    line-height: 1.3em;
    margin: 20px auto 20px auto;
    padding-right: 40px;
    padding-left: 40px;
}

.test_section {
    height: 220px;
}

.odd, .even {
    padding: 50px 100px;
    line-height: 1.5em;
    font-size: 22px;
    color: #6D7377;
}

.odd {
    background: #f2f0f0;
}

.odd:first-child {
    margin-top: 50px;
}

p.testimonial-data {
    margin-top: 20px;
    text-align: right;
    font-style: italic;
}

p.testimonial-data span {
    font-style: italic;
    font-weight: bold;
}

.single_event {
    text-align: center;
    background: #ffffff9e;
    padding: 50px 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.single_event li{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.more a,.reg a {
    color: #fff;
    background: #333;
    padding: 8px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
}

.single_inp {
    padding: 20px 0;
    width: 60%;
    text-align: left;
    margin: 0 auto;
}

.single_inp span {
    font-weight: bold;
    margin-right: 30px;
}

.single_inp input,.single_inp select{
    float: right;
}

.single_inp input,.single_inp select {
    border: 1px solid #333333e6;
    padding: 5px 0 5px 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.single_inp select {
    width: 248px;
    color: #333333e6;
}

.single_inp button {
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #333;
    cursor: pointer;
}


@media screen and (max-width: 769px) {
    .home_page_title,.about_us {
        font-size: 30px;
    }
    .left_tst h2{
        font-size: 24px;
    }
    .right_tst p{
        text-align: left;
        font-size: 15px;
    }
    p.testimonial_text {
        font-size: 16px;
        letter-spacing: 0;
        text-align: left;
    }
    .single_inp {
        padding-top: 0;
        width: 70%;
        margin: 0 auto;
    }
    .single_inp span {
        text-align: center;
        display: block;
        width: 100%;
        padding: 12px;
        padding-top: 20px;
    }
    .single_inp input,.single_inp select {
        width: 100%;
        display: block;
    }
}



