body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
}

.pt_15 {
    padding-top: 15px;
}

.pb_15 {
    padding-bottom: 15px;
}

.overflow_hidden {
    overflow: hidden;
}

header {
    height: 75px;
    background-color: #202124;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.center {
    width: 85%;
    margin: 0 auto;
}

.logo {
    float: left;
}

.logo a img {
    width: 150px;
}

.nav_soc_wrapper {
    float: right;
    padding-top: 18px;
}

nav {
    float: left;
}

nav li {
    float: left;
}

nav li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 10px;
    display: inline-block;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav li:first-child a {
    padding-left: 0;
}

nav li a:hover {
    opacity: 1;
    color: #ff852e;
}

.social {
    float: right;
}

.social a {
    color: #fff;
    font-size: 18px;
    padding: 10px 5px;
    display: inline-block;
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.social a:first-child {
    padding-left: 15px;
}

.social a:last-child {
    padding-right: 0;
}

.social a:hover {
    opacity: 1;
}

.container {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.home_page_title {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 0 auto;
    font-size: 72px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1.1px;
    width: 58%;
    text-shadow: 3px 2px 11px #000000bf;
    border-radius: 5px;
    background: #00000099;
}

.register_btn {
    border-radius: 45px;
    font-size: 28px;
    text-transform: uppercase;
    background: #ffffff78;
    color: #1b1919d9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 15px 25px;
    margin: 100px auto 100px auto;
    display: block;
    border: none;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.register_btn:hover {
    background: #fff;
}

footer {
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 20px;
}

footer ul li:first-child {
    padding-left: 0;
}

footer ul li:last-child {
    padding-right: 0;
}

.soc_footer a {
    color: #333;
    padding: 5px;
    font-size: 25px;
}

footer p {
    line-height: 25px;
}

footer p:first-child {
    display: inline-block;
    margin-top: 50px;
}

.about_us {
    text-align: center;
    font-size: 64px;
    display: block;
    color: #fff;
    padding-top: 80px;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: #333;
    padding: 15px;
    background: rgb(255, 255, 255);
    line-height: 25px;
    opacity: .8;
    margin-top: 30px;
    margin-bottom: 100px;
}

.content p {
    margin-top: 10px;
}

/*Tiko*/

li.active > a {
    opacity: 1;
    color: #ff852e;
}







